<mat-card class="example-card" *ngFor="let field of noteArray; let i = index">
  <mat-card-header>
    <mat-icon (click)="onAddNote()" class="icon" matTooltip="Add note">
      add
    </mat-icon>
    <span class="example-spacer"></span>
    <input [(colorPicker)]="color" [style.background]="color" class="colorPicker" />
    <mat-icon (click)="onRemoveNote(i)" class="icon" matTooltip="Remove note">
      close
    </mat-icon>
  </mat-card-header>
  <mat-card-content>
    <!-- <p>
      <textarea matInput placeholder="Take a note.." class="note-area"></textarea>
    </p> -->
    <editor apiKey="dd7blvqhxa48g7ppr618nhmwuqdusw01y0hpc2vpcoqadakj" [init]="{
      height: 300,
      menubar: false,
      placeholder:'Take a note..',
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat | help'
    }"></editor>
  </mat-card-content>
</mat-card>
